<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App_project.Properties.Settings.PetDBConnectionString"
            connectionString="Data Source=C6F3\SQLEXPRESS;Initial Catalog=PetDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="App_project.Properties.Settings.PetDataBaseConnectionString"
            connectionString="Data Source=C6F3\SQLEXPRESS;Initial Catalog=PetDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>